<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tech Entry</title>
</head>
<body>
    <h1>New Tech Entry</h1>
    
    <label for="newTech">Name:</label>
    <input type="text" id="newTech" placeholder="Enter Name"><br><br>
    <button type="button" onclick="submitData()">Verify Duplicate</button>
    <script src="..\static\js\newTechEntryScript.js"></script> <!-- Link to the JavaScript file -->
    <!-- Display result if available -->
    <p id="response"></p>
</body>
</html>